body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px) brightness(0.4);
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: url('hackerAmper.jpg') center/cover no-repeat fixed;
  color: #f5f5f5;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}

header {
  background: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #e63946;
}
nav a {
  color: #f5f5f5;
  text-decoration: none;
  margin-left: 20px;
  padding: 8px 16px;
  border: 2px solid #e63946; /* Rouge */
  border-radius: 12px; /* Plus arrondi */
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #e63946;
  color: #fff;
}

.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.hero h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
  color: #ff5555;
}
.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e63946;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #c62828;
}
.stats {
  background: #1a1a1a;
  display: flex;
  justify-content: space-around;
  padding: 60px 20px;
  text-align: center;
}
.stats h2 {
  color: #e63946;
  font-size: 2.5em;
}
.services {
  padding: 60px 20px;
  background: #121212;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  margin-top: 30px;
}
.card {
  background: #1f1f1f;
  padding: 20px;
  width: 260px;
  border-radius: 6px;
  text-align: center;
}
.cta {
  background: #111;
  text-align: center;
  padding: 60px 20px;
  margin-top: 20px;
  display: inline-block;

}
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #888;
}


